beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
customtkinter==5.2.2
idna==3.10
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
requests==2.32.3
scikit-learn==1.6.1
soupsieve==2.6
threadpoolctl==3.5.0
urllib3==2.3.0
